<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../frontend/css/all.css" />
</head>

<body class="Body" onload="Onload('{{.Cookie}}')">
  <!-- Navbar -->
  <div class="Navbar">
    <div class="Navbar-logo">FORUM</div>
    <div class="Navbar-title">QUESTIONS</div>
    <div class="Navbar-buttons">
      <div id="Not_Login" class="Not_Login">
        <span><button id="registerBtn" class="Nav-Register-btn">Register</button></span>
        <span><button id="loginBtn" class="Nav-Login-btn">Login</button></span>
      </div>
      <div id="Login" class="Login">
        <span><button id="postModalBtn" class="Nav-Post-btn">Added Post</button></span>
        <span><button id="logoutBtn" class="Nav-Logout-btn">Logout</button></span>
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="Sidebar">
    <div class="Menu-Item-Search">
      <p>Search</p>
    </div>
    <div class="Menu">
      <p>MENU</p>
      <div>
        <div class="menu">
          <form  method="POST" action="/">
          <button type="submit" name="yourPost" value="on" > Your Post</button>
          <button type="submit" name="yourLikedPosts" value="on" > Your liked Posts</button>
        </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Post Filter section -->
  <form  method="POST" action="/">
  <div class="post-filter">
  <div class="radio-pillbox">
   
  <radiogroup>
    <div>
      <button type="submit" name="filter" id="all" value="all" >
      All
      </button >
    </div>

    <div>
      <button type="submit" name="filter" id="js" value="javascript" >
  JavaScript
      </button>
    </div>

    <div>
      <button type="submit" name="filter" id="go" value="go" >
      <label for="go">GO</label>
      </button>
    </div>
    <div>
      <button type="submit" name="filter" id="rust" value="rust" >
  <label for="rust">Rust</label>
    </button>
    </div>
   
  </radiogroup>

</div>
  </div>

</form>

  <!-- Comments Section -->
  <div class="Comments-section"   >
    {{range .Posts}}
    <div class="Comment" key="{{.PostID}}">
      <div class="Comment-header">
        <div class="chip">
          <img src="../frontend/img/avatar.png" alt="Person" width="96" height="96" />
          {{.UserID}}
        </div>
      </div>
      <div class="Comment-body">
        <h2>{{.Title}}</h2>
        <p id="Content">
          {{.Content}}
        </p>
      </div>
      <div class="Comment-footer">
        <span class="Category"> {{.Category}}</span>
        <div class="Left-Comment-footer">


          <div id="Not_Login" class="Not_Login">
            <button type="submit" name="likes" id="Likes" value='1&{{.PostID}}' >{{.Reaction.Likes}} like</button>
              <button type="submit" name="dislike" id="dislike" value="-1&{{.PostID}}" >{{.Reaction.Dislikes}} dislike</button>
          </div>
          <div id="Login" class="Login">
            <form  method="POST" action="/">
              <button type="submit" name="likes" id="Likes" value='1&{{.PostID}}' >{{.Reaction.Likes}} like</button>
              <button type="submit" name="dislike" id="dislike" value="-1&{{.PostID}}" >{{.Reaction.Dislikes}} dislike</button>
              </form>
          </div>
          <button id="commentModalBtn" onclick="Comment('{{.PostID}}')" >{{.NumOfComment}} Comments</button>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <div id='{{.PostID}}' class="dropdown-content">
      <div class="Comment">
      
  
        <form class="Form_comment" method="POST" action="/" id="Form-comment">
          <div class="Form-comment-textarea">
            <textarea id="comment" name="comment" rows="10" cols="50"> </textarea>
          </div>
          <button type="submit" value='{{.PostID}}' name="postID" class="form-btn-comment">Comment</button>
        </form>
    
        <br />
        </center>
        {{range .Comments}}
        <div class="Comment-box">
          <div class="chip">
            <img src="../frontend/img/avatar.png" alt="Person" width="96" height="96" />
            {{.UserID}}
          </div>
          <p>
            {{.Content}}
          </p>
          <div >
            <div id="Not_Login" class="Not_Login">
                <button type="submit" name="likesc" id="Likesc" value="1&{{.CommentID}}&{{.PostID}}"> {{.Reaction.Likes}} like</button>
                <button type="submit" name="dislikec" id="dislikec" value="-1&{{.CommentID}}&{{.PostID}}"> {{.Reaction.Dislikes}} dislike</button>
            </div>
            <div id="Login" class="Login">
              <form method="POST" action="/">
                <button type="submit" name="likesc" id="Likesc" value="1&{{.CommentID}}&{{.PostID}}"> {{.Reaction.Likes}} like</button>
                <button type="submit" name="dislikec" id="dislikec" value="-1&{{.CommentID}}&{{.PostID}}"> {{.Reaction.Dislikes}} dislike</button>
                </form>
            </div>
          </div>
        </div>
        <br />
        {{end}}
      </div>
      </div>
    </div>
    {{end}}
  </div>

  <div class="Help-box">
    <!-- <div>Featured links</div>
    <div><a class="link" href="http://localhost:8800/">http://localhost:8800</a></div>
    <div><a class="link" href="https://stackoverflow.com/questions">https://stackoverflow.com/questions</a></div>
    <div><a class="link" href="https://git.learn.01founders.co">https://git.learn.01founders.co</a></div> -->
  </div>

  <!-- The Login Modal -->
  <div id="loginModal" class="Modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="lclose">&times;</span>
      <h1>Login</h1>
      <div>
        <center>
          <br /><br />
          <form class="Form">
            <div class="Form-login-inputBox">
              <label> User Name</label>
              <input type="text" id="userName" name="userName" />
            </div>
            <br />
            <div class="Form-login-inputBox">
              <label>Password</label>
              <input type="password" id="password" name="password" />
            </div>
            <button id="form-btn-login" class="Form-btn-login">Login</button>
          </form>
          <br />
          <label id="login-err" style="color:red;"></label>
          <div class="Form-login-Signup-div">
            <p>Need an account?</p>
            <button id="registerBtnl" class="Form-login-Signup-btn">
              SIGN UP
            </button>
          </div>
        </center>
      </div>
    </div>
  </div>

  <!-- The Register Modal -->
  <div id="registerModal" class="Rmodal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="rclose">&times;</span>
      <h1>Register</h1>
      <div>
        <center>
          <br /><br />
          <form class="Form">
            <div class="Form-login-inputBox">
              <label> User Name</label>
              <input type="text" id="rUserName" name="userName" />
            </div>
            <br />
            <div class="Form-login-inputBox">
              <label>Email</label>
              <input type="email" id="rEmail" name="email" />
            </div>
            <br />
            <div class="Form-login-inputBox">
              <label>Password</label>
              <input type="password" id="rPassword" name="password" />
            </div>
            <button id="form-btn-register" class="Form-btn-register">
              Register
            </button>
          </form>
          <br />
          <label id="register-err" style="color:red;"></label>
          <div class="Form-login-Signup-div">
            <p>Already a user?</p>
            <button id="loginBtnr" class="Form-login-Signup-btn">
              LOGIN
            </button>
          </div>
        </center>
      </div>
    </div>
  </div>

  <!-- The Post Modal -->
  <div id="postModal" class="Pmodal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="pclose">&times;</span>
      <h1>Post</h1>
      <div>
        <center>
          <br /><br />
          <form class="Form">
            <div class="Form-post-inputBox">
              <label for="Categories">Categories:</label>
              <span><input type="checkbox" name="option[]" value="javascript"> javascript </input></span>
              <span><input type="checkbox" name="option[]" value="go"/> go </input></span>
              <span> <input type="checkbox" name="option[]" value="rust"/> rust </input></span>
             </div>
              <br />
              <label> Title</label>
              <input id="title" name="title" required />
            </div>
            <br />
            <div class="Form-post-textarea">
              <label>Post</label>
              <textarea id="post" name="post" rows="4" cols="50"> </textarea>
            </div>
            <button id="form-btn-post" class="form-btn-post">Post</button>
          </form>
        </center>
      </div>
    </div>
  </div>

</body>

<script src="../frontend/js/myScript.js" ></script>

</html>