Html {
  font-family: Roboto;
  font-weight: 900;
}

body {
  margin: 0;
}

.Body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #eaeaea;
  height: 100vh;
  width: 100vw;
}

.Sidebar {
  position: absolute;
  width: 18vw;
  height: 105vh;
  top: 9vh;
  background: #ffffff;
  border-top: 1px solid #eaeaea;
  border-radius: 5px;
}

.post-filter {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 18vw;
  top: 9vh;
  width: 14vw;
  margin-left: 20vw;
  padding: 20px 20px;
}


.Menu {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 14vw;
  left: 0px;
  top: 111px;
  border-bottom: 5px solid #eaeaea;
  padding: 6px;
}

.Menu-Item-Search {
  position: absolute;
  width: 14vw;
  height: 41px;
  left: 0px;
  top: 40px;
  padding: 6px;
  background: #ffffff;
}

.Comments-section {
  background: #eaeaea;
  margin-left: 18vw;
  width: 60vw;
  height: 95vh;
  top: 15vh;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  overflow: scroll;
}

.Comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px;

  width: 54vw;
  min-height: 22vh;

  background: #ffffff;
  /* Border */
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  /* Shadow */
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  margin-right: auto;
  margin-left: auto;
  margin-top: 3vh;
}

.Comment-header {
  width: 53vw;
  height: 6vh;
  /* background: #d1eb07;*/
}

.Comment-body {
  width: 53vw;
  min-height: 13vh;
  /* background: #59eb0a; */
}

.Comment-footer {
  width: 53vw;
  height: 3vh;
  color: #888;
  /* background: #07aeeb; */
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.Category {
  background-color: rgb(226, 226, 226);
  padding: 5px 10px;
  border-radius: 10%;
  margin-right: 6px;
  margin-left: 6px;
}

.Left-Comment-footer {
  float: right;
  margin-right: 14px;
}

.Help-box {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 18vw;
  height: 267px;
  top: 9vh;
  background: #ffffff;
  padding: 6px;
  margin-left: 79vw;
  border-radius: 5px;
  /* padding: 30px 10px 10px 10px; */
}

.link {
  color: #1682FD
}

.Navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  overflow: hidden;
  background: #ffffff;
  z-index: 1;
  margin-bottom: 50px;
}

.Navbar-logo,
.Navbar-title,
.Navbar-buttons {
  margin: 10px 20px 10px 10px;
  display: flex;
  align-items: center;
}

.Navbar-title {
  color: #808080;
}

.Navbar-buttons {
  justify-content: center;
}

.Navbar-logo {
  margin-left: 100px;
  color: #ac131d;
}

.Nav-Register-btn,
.Nav-Login-btn,
.Nav-Logout-btn,
.Nav-Post-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  margin: 4px;
  height: 38px;
  border-radius: 5px;
}

.Nav-Register-btn,
.Nav-Post-btn {
  border: 1px solid #ac131d;
  color: #ffffff;
  background: #ac131d;
}

.Nav-Login-btn,
.Nav-Logout-btn {
  color: #ac131d;
  border: 1px solid #eaeaea;
  background: #eaeaea;
}

.Not_Login {
  display: flex;
}

.Login {
  display: none;
}

.Modal,
.Pmodal,
.Cmodal,
.Rmodal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  height: 60%;
  border-radius: 8px;
}

.lclose:hover,
.lclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.Form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 8px;
  height: 25px;
  width: 250px;
}

textarea {
  border-radius: 8px;
}

.Form-btn-login,
.Form-btn-register {
  margin-top: 3vh;
  height: 35px;
  width: 210px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  background: #ac131d;
  font-size: large;
  color: #ffffff;
  border: 1px solid #ac131d;
}

.Form-login-inputBox {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: initial;
}

.Form-post-inputBox {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: initial;
}

.Form-login-Signup-btn {
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
}

.Form-login-Signup-div {
  display: flex;
  justify-content: center;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}