h1 {
    color: blue;
}

.Body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #1a1818;
    height: 100vh;
    width: 100vw;
}

.Sidebar {
position: absolute;
width: 40vw;
height: 100vh;
left: 0px;
top: 84px;
background: #1b42d1;
}

.Menu {
    /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
position: absolute;
width: 39vw;
height: 167px;
left: 0px;
top: 111px;
background: #d11b1b;
padding: 6px;
}

.Menu-Item-Search {
position: absolute;
width: 39vw;
height: 41px;
left: 0px;
top: 40px;
padding: 6px;

background: #d11b1b;
}

.Navbar {
position: absolute;
height: 84px;
left: 0px;
right: 0px;
top: 0px;
width: 100vw;
overflow: hidden;
background: #FFFFFF;
/* Border */

}

.Navbar-Logo {
    position: absolute;
    width: 112px;
    height: 29.6px;
    left: 50px;
    top: 27px;
    
}

.Navbar-buttons {
    display: flex;
    padding: 6px;
    float: right;
    margin-top: 20px
}

.Nav-Register-btn {
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
margin: 4px;

height: 38px;
left: 1204px;
top: 23px;

background: #AC131D;
border-radius: 5px;
}

.Nav-Login-btn {
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
margin: 4px;
height: 38px;
left: 1333px;
top: 23px;

/* Border */
background: #EAEAEA;
border-radius: 5px;
}


.Modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 60%;
  }
  
  .lclose:hover,
.lclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.Form {
    display: flex;
    flex-direction: column;
}

input {
  border-radius: 8px;
  height: 25px;
  width: 250px;
}

.Form-login-btn {
    margin-top: 120px;
    height: 35px;
    width: 210px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    background: #AC131D;
}

.Form-login-inputBox {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: initial;
}

.Form-login-Signup-btn {
    background: none;
    border: none;
}

.Form-login-Signup-div {
    display: flex;
    justify-content: center;
}